.withdraw-main {
    width: 100%;
    padding: 100px 4% 0;
}

.withdraw-container {
    width: 100%;
    margin-top: 15px;
}

.withdraw-tit,
.deposit-tit {
    font-weight: 500;
    padding: 10px 5px;
    color: #9fabc4;
}

.withdraw-tit .exchange {
    font-size: 12px;
    font-weight: normal;
    float: right;
    color: #16d582;
}

.withdraw-input input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: rgba(73,89,113,.55);
    border-radius: 6px;
    border: none;
    padding-left: 12px;
    color: #9fabc4;
}

.withdraw-btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: linear-gradient(90.51deg,#87f9c2 8.05%,#6bb1d9 92.6%);
    height: 45px;
    line-height: 45px;
    border-radius: 14px;
    margin-top: 20px;
    color: #111235;
    border: none;
    font-size: 18px;
}

.withdraw-rule {
    background: rgba(73,89,113,.55);
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
    color: #9fabc4;
}

.withdraw-rule p {
    line-height: 24px;
}
.withdraw-rule p > * {
    text-wrap: inherit !important;
}

.rule-title {
    margin-bottom: 10px;
}

.deposit-method {
    /*margin-bottom: 20px;*/
}

.deposit-tab {
    width: 100%;
    height: auto;
    display: inline-block;
}

.deposit-tab > div {
    width: 30%;
    text-align: center;
    background: rgba(73,89,113,.55);
    border-radius: 6px;
    padding: 10px 0;
    border: 1px solid #f6f6f6;
    float: left;
    margin-bottom: 10px;
    color: #fff;
}

.deposit-tab > div:nth-child(2),
.deposit-tab > div:nth-child(5),
.deposit-tab > div:nth-child(8),
.deposit-tab > div:nth-child(11),
.deposit-tab > div:nth-child(14) {
    margin-left: 5%;
    margin-right: 5%;
}

.deposit-tab > div img {
    width: 25px;
}

.deposit-tab > div.active {
    background: linear-gradient(90.51deg,#87f9c2 8.05%,#6bb1d9 92.6%);
    border: 1px solid #7ad8cd;
    color: #111235;
}

.withdraw-blance {
    background: rgba(73,89,113,.55);
    text-align: center;
    color: #9fabc4;
    padding: 20px 0;
}

.withdraw-blance p {
    font-size: 20px;
    font-weight: 500;
}